:root {
	/* Background Colors */
	--color-background-primary: #f5f5f5;
	--color-background-secondary: #ffffff;
	--color-background-hover: #e0e0e0;
	--color-border-secondary: #d0d0d0;
	--color-border-primary: #bdbdbd;
	--color-overlay: #ffffffcc;

	/* Typography Colors */
	--color-text-primary: #000000;
	--color-text-secondary: #4f4f4f;

	/* Brand Colors */
	--color-brand-primary: #2a5bff;
	--color-brand-primary-hover: #1e44c7;

	/* State Colors */
	--color-success: #28a745;
	--color-warning: #ffc107;
	--color-danger: #dc3545;
	--color-danger-hover: #c82333;

	/* Shadow */
	--box-shadow: 0px 0px 15px 0px #00000033;
}
